contact-manager
empathy-logs
contact-run-until-ready
contact-run-until-ready-2
empetit
test-empathy-account-assistant
test-empathy-presence-chooser
test-empathy-status-preset-dialog
test-empathy-protocol-chooser
test-empathy-account-chooser
