*.omf
*.mo

ca/*.xml
cs/*.xml
de/*.xml
el/*.xml
en_GB/*.xml
es/*.xml
fi/*.xml
fr/*.xml
gl/*.xml
it/*.xml
ru/*.xml
sv/*.xml
zh_CN/*.xml

ca/*.page
cs/*.page
de/*.page
el/*.page
en_GB/*.page
es/*.page
fi/*.page
fr/*.page
gl/*.page
it/*.page
ru/*.page
sv/*.page
zh_CN/*.page
