empathy.desktop
empathy.desktop.in
org.gnome.Empathy.gschema.valid
org.gnome.Empathy.gschema.xml
org.freedesktop.Telepathy.Client.Empathy.service
org.freedesktop.Telepathy.Client.Empathy.AudioVideo.service
empathy-accounts.desktop
empathy-accounts.desktop.in
